:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    /* --accent2-color: #e9c46a; */
    /* light golden yellow */

    --white: #fefefe;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header,
main,
footer {
    width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    gap: 1rem;
    background-color: var(--accent1-color);
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: var(--white);
    padding: 1rem;
}

nav a :hover {
    color: var(--accent1-color);
    background-color: var(--white);
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 1.5rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--white);
}

.hero article {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    background-color: var(--secondary-color);
}

.hero article img {
    float: right;
    width: 13rem;
    margin: 0 0 0 1rem;
}